<div class="resultScreen">
    <div class="container row">
        <div class="col-sm-offset-1 col-sm-10 col-md-9">
        @if (ViewBag.ResultsTotalNb > 0)
        {
            <p class="text-muted mb16">
            @(ViewBag.ResultsTotalNb > 1 ? "About "+String.Format("{0:n0}", ViewBag.ResultsTotalNb)+" results." : "One lonely result...")
            Current results @(ViewBag.IsFull == null || ViewBag.IsFull ? "aren't" :"are") filtered.
            @if (ViewBag.IsFull != null) {
            <a href="/?@(ViewBag.IsFull ? "" : "f=1&")q=@(ViewBag.ResearchUrlEncoded)">click here to change this.@ViewBag.IsFull</a>
            }
            </p>

            foreach (PageResultEntity item in ViewBag.Results)
            {
                <h4>
                    <a href="@item.UrlClick" @(item.TitleToolTip == null ? "" : "title=\""+item.TitleToolTip + "\"")>@item.Title</a>
                </h4><h6>
                    @if (item.HiddenServiceMain == null)
                    { <a class="text-muted" href="@item.UrlClick" @(item.UrlToolTip == null ? "" : "title=\"" + item.UrlToolTip + "\"")>@item.Url</a>}
                    else
                    { <span class="label label-default">Mirror of <a href="@item.HiddenServiceMainClick">@item.HiddenServiceMain</a></span> }
                    @if(!item.CrawleError)
                    {
                         if(item.DaySinceLastCrawle>1)
                         {<span class="label label-info">Online @item.DaySinceLastCrawle days ago</span>}
                         else
                         {<span class="label label-success">Online @item.HourSinceLastCrawle hours ago</span>}
                    }
                    else
                    {    if(item.DaySinceLastCrawle>1)
                         {<span class="label label-warning">Offline @item.DaySinceLastCrawle days ago</span>}
                         else
                         {<span class="label label-danger">Offline @item.HourSinceLastCrawle hours ago</span>}
                    }
                </h6>
                <p class="ResultText">@item.InnerText</p>
            }
            if (ViewBag.ResultsTotalNb > 1)
            {
                if (ViewBag.ResultsTotalNb > 10)
                {
                <div class="row">
                    <nav aria-label="Page navigation" class="col-sm-offset-1 col-sm-6">
                        <ul class="pagination">
                            <li @(ViewBag.Previous?"":"class=disabled")><a href="@(ViewBag.Previous ? "/?"+(ViewBag.IsFull?"f=1&":"")+"p=" + (ViewBag.Page - 1)+"&q=" + ViewBag.ResearchUrlEncoded :"#")" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li @(ViewBag.PageA!= ViewBag.Page ? "": "class=active")><a href="/?@(ViewBag.IsFull ? "f=1&": "")p=@(ViewBag.PageA)&q=@(ViewBag.ResearchUrlEncoded)">@(ViewBag.PageA)</a></li>
                            <li @(ViewBag.PageB!= ViewBag.Page ? "": "class=active")><a href="/?@(ViewBag.IsFull ? "f=1&": "")p=@(ViewBag.PageB)&q=@(ViewBag.ResearchUrlEncoded)">@(ViewBag.PageB)</a></li>
                            @if (ViewBag.ResultsTotalNb > 20)
                            {
                                <li @(ViewBag.PageC!= ViewBag.Page ? "": "class=active")><a href="/?@(ViewBag.IsFull ? "f=1&": "")p=@(ViewBag.PageC)&q=@(ViewBag.ResearchUrlEncoded)">@(ViewBag.PageC)</a></li>
                                if (ViewBag.ResultsTotalNb > 30)
                                {
                                    <li @(ViewBag.PageD!= ViewBag.Page ? "": "class=active")><a href="/?@(ViewBag.IsFull ? "f=1&": "")p=@(ViewBag.PageD)&q=@(ViewBag.ResearchUrlEncoded)">@(ViewBag.PageD)</a></li>
                                    if (ViewBag.ResultsTotalNb > 40)
                                    {
                                        <li @(ViewBag.PageE!= ViewBag.Page ? "": "class=active")><a href="/?@(ViewBag.IsFull ? "f=1&": "")p=@(ViewBag.PageE)&q=@(ViewBag.ResearchUrlEncoded)">@(ViewBag.PageE)</a></li>
                                    }
                                }
                            }
                            <li @(ViewBag.Next ? "":"class=disabled")><a href="@(ViewBag.Next ? "/?"+(ViewBag.IsFull?"f=1&":"")+"p="+(ViewBag.Page+1)+"&q="+ViewBag.ResearchUrlEncoded : "#")" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </div>
                <br/>
                }
            }
            else
            {<p class="text-muted container">One lonely result...</p>}
        }
        else
        {
        <p class="container ce">
            <h5><br /></h5>
            <h4><b>No result, please check or change your keywords.</b></h4>
            <!-- todo : suggest other keyworkds close -->
        </p>
        }
        </div>
    </div>
</div>
<style>
    .notIndexScreen, .resultScreen {
        display: initial;
    }
    footer {
        display: none;
    }
</style>
<script>
    var screen = "resultScreen";
</script>

@section LateScript {
<script>
    RegExp.escape = function(str) {
        var specials = /[.*+?|()\[\]{}\\$^]/g;
        return str.replace(specials, "\\$&");
    }
    $(function () {
        // keywords bold
        var keywords = document.getElementById("qNotIndex").value.split(" ");
        $(".ResultText").each(function () {
            var t = this.innerHTML;
            for (var i = 0; i < keywords.length; i++)
                t = t.replace(new RegExp("(" + RegExp.escape(keywords[i]) + ")", "gi"), "<b class='text-uppercase'>" + keywords[i] + "</b>");
            this.innerHTML = t;
        });
    });
</script>
}