

<div class="resultScreen">
    <div class="container row">
        <div class="col-sm-offset-1 col-sm-9">
        @if (ViewBag.ResultsTotalNb > 0)
        {
            if (ViewBag.ResultsTotalNb > 1)
            {<p class="text-muted">About @String.Format("{0:n0}", ViewBag.ResultsTotalNb) results<br /><br /></p>}
            else
            {<p class="text-muted">One lonely result... <br /><br /></p>}

            foreach (PageResultEntity item in ViewBag.Results)
            {
                <h4>
                    <a href="@item.UrlClick" @(item.TitleToolTip == null ? "" : "title=\""+item.TitleToolTip + "\"")>@item.Title</a>
                </h4><h6>
                    <a class="text-muted" href="@item.UrlClick" @(item.UrlToolTip == null ? "" : "title=\""+item.UrlToolTip+"\"")>@item.Url</a>
                    @if(!item.CrawleError)
                    {
                         if(item.DaySinceLastCrawle>1)
                         {<span class="label label-info">Online @item.DaySinceLastCrawle days ago</span>}
                         else
                         {<span class="label label-success">Online @item.HourSinceLastCrawle hours ago</span>}
                    }
                    else
                    {    if(item.DaySinceLastCrawle>1)
                         {<span class="label label-warning">Offline @item.DaySinceLastCrawle days ago</span>}
                         else
                         {<span class="label label-danger">Offline @item.HourSinceLastCrawle hours ago</span>}
                    }

                </h6>
                <p>@item.InnerText</p>
            }
            if (ViewBag.ResultsTotalNb > 1)
            {
                if (ViewBag.ResultsTotalNb > 10)
                {
                <div class="row">
                    <nav aria-label="Page navigation" class="col-sm-offset-1 col-sm-6">
                        <ul class="pagination">
                            <li @(ViewBag.Previous?"":"class=disabled")><a href="@(ViewBag.Previous ? "/?q="+ViewBag.ResearchUrlEncoded+"&amp;p="+(ViewBag.Page-1):"#")" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li @(ViewBag.PageA!= ViewBag.Page ? "": "class=active")><a href="/?q=@ViewBag.ResearchUrlEncoded&amp;p=@(ViewBag.PageA)">@(ViewBag.PageA)</a></li>
                            <li @(ViewBag.PageB!= ViewBag.Page ? "": "class=active")><a href="/?q=@ViewBag.ResearchUrlEncoded&amp;p=@(ViewBag.PageB)">@(ViewBag.PageB)</a></li>
                            @if (ViewBag.ResultsTotalNb > 20)
                            {
                                <li @(ViewBag.PageC!= ViewBag.Page ? "": "class=active")><a href="/?q=@ViewBag.ResearchUrlEncoded&amp;p=@(ViewBag.PageC)">@(ViewBag.PageC)</a></li>
                                if (ViewBag.ResultsTotalNb > 30)
                                {
                                    <li @(ViewBag.PageD!= ViewBag.Page ? "": "class=active")><a href="/?q=@ViewBag.ResearchUrlEncoded&amp;p=@(ViewBag.PageD)">@(ViewBag.PageD)</a></li>
                                    if (ViewBag.ResultsTotalNb > 40)
                                    {
                                        <li @(ViewBag.PageE!= ViewBag.Page ? "": "class=active")><a href="/?q=@ViewBag.ResearchUrlEncoded&amp;p=@(ViewBag.PageE)">@(ViewBag.PageE)</a></li>
                                    }
                                }
                            }
                            <li @(ViewBag.Next ? "":"class=disabled")><a href="@(ViewBag.Next ? "/?q="+ViewBag.ResearchUrlEncoded+"&amp;p="+(ViewBag.Page+1):"#")" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </div>
                <br/>
                }
            }
            else
            {<p class="text-muted container">One lonely result...</p>}
        }
        else
        {
        <p class="container ce">
            <h5><br /></h5>
            <h4><b>No result, please check or change your keywords.</b></h4>
            <!-- todo : suggest other keyworkds close -->
        </p>
        }
        </div>
    </div>
</div>
<style>
    .notIndexScreen, .resultScreen {
        display: initial;
    }
    footer {
        display: none;
    }
</style>
<script>
    var screen = "resultScreen";
</script>